.steuereinnahmen-hintergrund {
    background-image: url(https://www.osthessen-zeitung.de/fileadmin/user_upload/2018/Steuereinnahmen.jpg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }
  